<%- include('adminlayout.ejs'); %>
<h3>Enter new user information below:</h3>
    <div class="row justify-content-center">
                     
                                    <form class="form-horizontal" method="post" action="/register">
    
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label">User's Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">User's Email</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label">Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit New User</button>
                                        </div>
                                    </form>
                    </div>

</div>
</body>
</html>