<%- include('layout.ejs'); %>
<h2>Offer letter has been sent to <%= details.first_name%> <%= details.last_name%>!</h2> 
<p>Click <a href="/update/<%= details._id%>">here</a> to make additional updates.</p> 