<%- include('layout.ejs'); %>
<div class="container">
    <div class="row justify-content-center">

        <h3>Welcome <%= user.name %> </h3><br>

    </div>
</div>

<div>
    <% if(details!=null) { %>
        <select name="obrf_to_update">
        <% details.forEach(function(item){ %>
        <option><%= item.tracker_placement_id%></option>
        <% }) %>
        </select>
        <% } %>
</div>